body {
  margin: 0;
  font-family: 'Lucida Grande', tahoma,verdana,arial,sans-serif;
  line-height: 1.28;
}

#navwrapper {
  width: 100%;
  height: 82px;
  background-color: #3b5998;
}

#navbar {
  margin: 0 auto;
  width:980px;
  height:59px;
}

#contentwrapper {
  width: 100%;
  height: 606px;
  background-color: #edf0f5;
}

#content {
  margin: 0 auto;
  width:980px;
  padding-top:20px;
}

h1 {
  font-family: tahoma,verdana,arial,sans-serif;
  font-size: 38px;
  letter-spacing:0.05px;
  margin: 0;
  color:#fff;
  -webkit-font-smoothing: antialiased;
}

.logowrapper {
  display: block;
  padding: 30px 0;
}

#button {
  position:relative;
  width:45px;
  height:18px;
  background-color: #5b72a9;
  border: 1px solid #999;
  border-color:#8b9dc3 #2f477a #29447e #1a356e;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  cursor:pointer;
  font-size:11px;
  font-weight:bold;
  text-align:center;
  color:#fff;
}

.tablewrapper {
  float:right;
  margin-top:15px;
}

.row1 {
  
  color:#fff;
  font-size:11px;
  width:164px;
  cursor:pointer;
}

.inputtext {
  border-color: #1d2a5b;
  margin: 0;
  width: 142px;
  border: 1px solid #bdc7d8;
  margin: 0;
  padding: 3px;
  background-color: #FAFFBD;
}

.row2 {
  
  color:#9daccb;
  font-size:11px;
  width:164px;
  cursor:pointer;
}

#leftbod {
  width:565px;
  display:inline-block;
}

.connect {
  width:409px;
  height: 72px;
  padding: 42px 0 24px;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  color: #333;
  display:inline-block;
}

.leftbar {
  
  padding-bottom:10px;
  margin-top:20px;
}

.iconwrap {
  margin-right:20px;
  width:55px;
  
}

.rowtext {
  font-size:16px;
  font-weight:bold;
  color:#333;
}


.fb1 {
  display:inline-block;
  vertical-align: middle;
}

.rowtext2 {
  font-size:15px;
  color:#666;
  margin-left:10px;
}

#rightbod {
  display:inline-block;
  vertical-align:top;
  width:399px;
  height:200px;
  float:right;
}

.signup {
  font-size:36px;
  -webkit-font-smoothing: antialiased;
  font-weight:700;
  margin-bottom:5px;
}

.bolder {
  font-family: 'Open Sans',sans-serif;
  text-rendering:optimizelegibility;
  color:#333;
}

.free {
  font-size:19px;
  margin-bottom:20px;
}

.formbox {
  display: inline-block;
  width:399px;
}

.inputbody {
  display: inline-block;
  font-size: 18px;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
-webkit-border-radius: 5px;
  color:#333;
  margin-bottom:10px;
}

::-webkit-input-placeholder {
   color: #999;
}

::-moz-placeholder {
   color: #999;  
}

:-ms-input-placeholder {  
   color: #999;  
}

.in1 {
  width:172px;
}

.in2 {
  width:377px;
}

.fr {
  float:right;
}

.fl {
  float:left;
}

.bday {
  font-size:19px;
  color:#141823;
  -webkit-font-smoothing: antialiased;
  margin-bottom:5px;
}

.selectbody {
  display: inline-block;
  height:30px;
  font-size: 13px;
  border: 1px solid #bdc7d8;
  -webkit-border-radius: 5px;
  color:#141823;
 
}

.why {
  font-size: 11px;
  color: #3b5998;
  width:150px;
  margin-left:10px;
  cursor:pointer;
}

.h:hover {
  text-decoration: underline;
}

.gender {
  font-size: 18px;
  color: #141823;
  cursor: pointer;
  padding: 0 10px 0 3px;
  margin-right: 4px;
  line-height: 18px;
  vertical-align: middle;
}

.spanpad {
  padding: 5px 0 5px 4px;
  display: inline-block;
}

.mt1 {
  margin-top:15px;
}

.m0 {
  margin: 0;
}

.agree {
  font-size: 11px;
  color: #777;
  width:316px;
  margin: 11px 0 11px ;
}

.link {
  color:#3b5998;
  display: inline-block;
  cursor: pointer;
}

.signbut {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  color:#fff;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  -webkit-border-radius: 5px;
  background: -webkit-linear-gradient(#67ae55, #578843);
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
  border: 1px solid;
border-color: #3b6e22 #3b6e22 #2c5115;
  margin-top: 10px;
margin-bottom: 10px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  cursor:pointer;
}

.signbut:hover {
  background: -webkit-linear-gradient(#79bc64, #578843);
}

.create {
  border-top: 1px solid #a0a9c0;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
}

#DIV_1 {
    color: rgb(29, 33, 41);
    height: 136.059px;
    text-decoration: none solid rgb(29, 33, 41);
    width: 1195.56px;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 597.778px 68.0208px;
    transform-origin: 597.778px 68.0208px;
    caret-color: rgb(29, 33, 41);
    border: 0px none rgb(29, 33, 41);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    outline: rgb(29, 33, 41) none 0px;
    padding-top: 25px;
}/*#DIV_1*/

#DIV_2 {
    color: rgb(115, 115, 115);
    height: 136.059px;
    text-decoration: none solid rgb(115, 115, 115);
    width: 980px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 490px 68.0208px;
    transform-origin: 490px 68.0208px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    margin: 0px 107.778px;
    outline: rgb(115, 115, 115) none 0px;
}/*#DIV_2*/

#UL_3 {
    color: rgb(115, 115, 115);
    height: 20px;
    text-decoration: none solid rgb(115, 115, 115);
    width: 980px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 490px 13.9931px;
    transform-origin: 490px 13.9931px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(115, 115, 115) none 0px;
    padding: 8px 0px 0px;
}/*#UL_3*/

#LI_4 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 70.9028px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 35.4514px 7.77778px;
    transform-origin: 35.4514px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
}/*#LI_4*/

#LI_5 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 45.0174px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 27.5px 7.77778px;
    transform-origin: 27.5px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_5*/

#A_6, #A_8, #A_10, #A_14, #A_16, #A_18, #A_20, #A_22, #A_24 {
    color: rgb(54, 88, 153);
    text-align: left;
    text-decoration: none solid rgb(54, 88, 153);
    unicode-bidi: isolate;
    white-space: nowrap;
    column-rule-color: rgb(54, 88, 153);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(54, 88, 153);
    border: 0px none rgb(54, 88, 153);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(54, 88, 153) none 0px;
}/*#A_6, #A_8, #A_10, #A_14, #A_16, #A_18, #A_20, #A_22, #A_24*/

#LI_7 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 100.122px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 55.0521px 7.77778px;
    transform-origin: 55.0521px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_7*/

#LI_9 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 58.3333px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 34.1667px 7.77778px;
    transform-origin: 34.1667px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_9*/

#LI_11 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 31.0417px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 20.5208px 7.77778px;
    transform-origin: 20.5208px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_11*/

#A_12 {
    color: rgb(54, 88, 153);
    direction: rtl;
    text-align: left;
    text-decoration: none solid rgb(54, 88, 153);
    unicode-bidi: isolate;
    white-space: nowrap;
    column-rule-color: rgb(54, 88, 153);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(54, 88, 153);
    border: 0px none rgb(54, 88, 153);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(54, 88, 153) none 0px;
}/*#A_12*/

#LI_13 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 103.559px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 56.7708px 7.77778px;
    transform-origin: 56.7708px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_13*/

#LI_15 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 41.5104px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 25.7465px 7.77778px;
    transform-origin: 25.7465px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_15*/

#LI_17 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 31.1285px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 20.5556px 7.77778px;
    transform-origin: 20.5556px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_17*/

#LI_19 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 47.4826px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 28.7326px 7.77778px;
    transform-origin: 28.7326px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_19*/

#LI_21 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 22.1528px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 16.0764px 7.77778px;
    transform-origin: 16.0764px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_21*/

#LI_23 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 15.5556px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 36.7708px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 23.3854px 7.77778px;
    transform-origin: 23.3854px 7.77778px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_23*/

#LI_25 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 19.9653px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 29.9479px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 19.9653px 9.98264px;
    transform-origin: 19.9653px 9.98264px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 10px;
}/*#LI_25*/

#A_26 {
    bottom: 0px;
    color: rgb(75, 79, 86);
    display: inline-block;
    height: 17.9861px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(75, 79, 86);
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 11.9965px;
    column-rule-color: rgb(75, 79, 86);
    justify-content: center;
    perspective-origin: 14.9653px 9.98264px;
    transform-origin: 14.9653px 9.98264px;
    caret-color: rgb(75, 79, 86);
    background: rgb(246, 247, 249) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.989583px solid rgb(206, 208, 212);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 700 normal 12px / 18px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
    padding: 0px 8px;
    transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.52, 1) 0s, box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1) 0s, transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1) 0s;
}/*#A_26*/

#A_26:before {
    color: rgb(75, 79, 86);
    content: '""';
    display: inline-block;
    height: 20px;
    text-align: center;
    text-decoration: none solid rgb(75, 79, 86);
    vertical-align: middle;
    white-space: nowrap;
    width: 0px;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 0px 10px;
    transform-origin: 0px 10px;
    caret-color: rgb(75, 79, 86);
    border: 0px none rgb(75, 79, 86);
    font: normal normal 700 normal 12px / 18px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#A_26:before*/

#I_27 {
    background-position: -38px -201px;
    bottom: 1px;
    color: rgb(75, 79, 86);
    cursor: pointer;
    display: inline-block;
    height: 11.9965px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(75, 79, 86);
    top: -1px;
    vertical-align: middle;
    white-space: nowrap;
    width: 11.9965px;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 5.98958px 5.98958px;
    transform-origin: 5.98958px 5.98958px;
    caret-color: rgb(75, 79, 86);
    background: rgba(0, 0, 0, 0) url("https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/KO0KGhuNylg.png") no-repeat scroll -38px -201px / 53px 287px padding-box border-box;
    border: 0px none rgb(75, 79, 86);
    font: italic normal 700 normal 12px / 18px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#I_27*/

#DIV_28 {
    color: rgb(115, 115, 115);
    height: 7.98611px;
    text-decoration: none solid rgb(115, 115, 115);
    width: 980px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 490px 4.47917px;
    transform-origin: 490px 4.47917px;
    caret-color: rgb(115, 115, 115);
    border-top: 0px none rgb(115, 115, 115);
    border-right: 0px none rgb(115, 115, 115);
    border-bottom: 0.989583px solid rgb(221, 223, 226);
    border-left: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 1px / 1.34px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(115, 115, 115) none 0px;
}/*#DIV_28*/

#DIV_29 {
    color: rgb(115, 115, 115);
    height: 56.6667px;
    text-decoration: none solid rgb(115, 115, 115);
    width: 980px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 490px 28.3333px;
    transform-origin: 490px 28.3333px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 16.08px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    outline: rgb(115, 115, 115) none 0px;
}/*#DIV_29*/

#UL_30 {
    color: rgb(115, 115, 115);
    height: 56.6667px;
    text-decoration: none solid rgb(115, 115, 115);
    width: 1020px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 510px 28.3333px;
    transform-origin: 510px 28.3333px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    margin: 0px -20px;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px;
}/*#UL_30*/

#LI_31 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 45.0868px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 32.5347px 9.44444px;
    transform-origin: 32.5347px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_31*/

#A_32, #A_34, #A_36, #A_38, #A_40, #A_42, #A_44, #A_46, #A_48, #A_50, #A_52, #A_54, #A_56, #A_58, #A_60, #A_62, #A_64, #A_66, #A_68, #A_70, #A_72, #A_74, #A_76, #A_78, #A_80, #A_82, #A_84, #A_89, #A_91 {
    color: rgb(54, 88, 153);
    text-align: left;
    text-decoration: none solid rgb(54, 88, 153);
    white-space: nowrap;
    column-rule-color: rgb(54, 88, 153);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(54, 88, 153);
    border: 0px none rgb(54, 88, 153);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(54, 88, 153) none 0px;
}/*#A_32, #A_34, #A_36, #A_38, #A_40, #A_42, #A_44, #A_46, #A_48, #A_50, #A_52, #A_54, #A_56, #A_58, #A_60, #A_62, #A_64, #A_66, #A_68, #A_70, #A_72, #A_74, #A_76, #A_78, #A_80, #A_82, #A_84, #A_89, #A_91*/

#LI_33 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 35px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 27.5px 9.44444px;
    transform-origin: 27.5px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_33*/

#LI_35 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 63.0729px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 41.5278px 9.44444px;
    transform-origin: 41.5278px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_35*/

#LI_37 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 80px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 50px 9.44444px;
    transform-origin: 50px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_37*/

#LI_39 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 38.2465px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 29.1146px 9.44444px;
    transform-origin: 29.1146px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_39*/

#LI_41 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 70.4167px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 45.2083px 9.44444px;
    transform-origin: 45.2083px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_41*/

#LI_43 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 39.0451px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 29.5139px 9.44444px;
    transform-origin: 29.5139px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_43*/

#LI_45 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 34.8438px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 27.4132px 9.44444px;
    transform-origin: 27.4132px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_45*/

#LI_47 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 37.5868px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 28.7847px 9.44444px;
    transform-origin: 28.7847px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_47*/

#LI_49 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 39.5486px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 29.7743px 9.44444px;
    transform-origin: 29.7743px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_49*/

#LI_51 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 55.3299px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 37.6562px 9.44444px;
    transform-origin: 37.6562px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_51*/

#LI_53 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 61.5278px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 40.7639px 9.44444px;
    transform-origin: 40.7639px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_53*/

#LI_55 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 70.4861px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 45.2431px 9.44444px;
    transform-origin: 45.2431px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_55*/

#LI_57 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 41.5104px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 30.7465px 9.44444px;
    transform-origin: 30.7465px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_57*/

#LI_59 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 45.1736px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 32.5868px 9.44444px;
    transform-origin: 32.5868px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_59*/

#LI_61 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 37.9514px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 28.9757px 9.44444px;
    transform-origin: 28.9757px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_61*/

#LI_63 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 27.5347px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 23.7674px 9.44444px;
    transform-origin: 23.7674px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_63*/

#LI_65 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 52.934px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 36.4583px 9.44444px;
    transform-origin: 36.4583px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_65*/

#LI_67 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 57.0486px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 38.5243px 9.44444px;
    transform-origin: 38.5243px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_67*/

#LI_69 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 30.3646px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 25.1736px 9.44444px;
    transform-origin: 25.1736px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_69*/

#LI_71 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 34.3056px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 27.1528px 9.44444px;
    transform-origin: 27.1528px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_71*/

#LI_73 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 56.7708px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 38.3854px 9.44444px;
    transform-origin: 38.3854px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_73*/

#LI_75 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 70px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 45px 9.44444px;
    transform-origin: 45px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_75*/

#LI_77 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 64.3576px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 42.1701px 9.44444px;
    transform-origin: 42.1701px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_77*/

#LI_79 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 44.6007px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 32.2917px 9.44444px;
    transform-origin: 32.2917px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_79*/

#LI_81 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 41.8056px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 30.9028px 9.44444px;
    transform-origin: 30.9028px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_81*/

#LI_83 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 45.9201px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 32.9514px 9.44444px;
    transform-origin: 32.9514px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_83*/

#LI_85 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 78.8715px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 49.4271px 9.44444px;
    transform-origin: 49.4271px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_85*/

#A_86 {
    bottom: 0px;
    color: rgb(54, 88, 153);
    display: inline-block;
    height: 18.8889px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(54, 88, 153);
    top: 0px;
    white-space: nowrap;
    width: 64.8785px;
    column-rule-color: rgb(54, 88, 153);
    perspective-origin: 39.4271px 9.44444px;
    transform-origin: 39.4271px 9.44444px;
    caret-color: rgb(54, 88, 153);
    border: 0px none rgb(54, 88, 153);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(54, 88, 153) none 0px;
    padding: 0px 14px 0px 0px;
}/*#A_86*/

#I_87 {
    background-position: -34px -127px;
    bottom: 1.90972px;
    color: rgb(54, 88, 153);
    cursor: pointer;
    display: block;
    height: 15.9896px;
    left: 64.8611px;
    position: absolute;
    right: -1.97917px;
    text-align: left;
    text-decoration: none solid rgb(54, 88, 153);
    top: 1px;
    vertical-align: middle;
    white-space: nowrap;
    width: 15.9896px;
    column-rule-color: rgb(54, 88, 153);
    perspective-origin: 7.98611px 7.98611px;
    transform-origin: 7.98611px 7.98611px;
    caret-color: rgb(54, 88, 153);
    background: rgba(0, 0, 0, 0) url("https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/4VXJiWTP4wg.png") no-repeat scroll -34px -127px / 171px 201px padding-box border-box;
    border: 0px none rgb(54, 88, 153);
    font: italic normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(54, 88, 153) none 0px;
}/*#I_87*/

#LI_88 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 35.0868px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 27.5347px 9.44444px;
    transform-origin: 27.5347px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_88*/

#LI_90 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 18.8889px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 26.4062px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 23.1944px 9.44444px;
    transform-origin: 23.1944px 9.44444px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_90*/

#LI_92, #LI_94 {
    color: rgb(115, 115, 115);
    display: inline-block;
    height: 0px;
    text-decoration: none solid rgb(115, 115, 115);
    vertical-align: top;
    width: 0px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 10px 0px;
    transform-origin: 10px 0px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(115, 115, 115) none 0px;
    padding: 0px 0px 0px 20px;
}/*#LI_92, #LI_94*/

#A_93 {
    bottom: 52.3438px;
    clip: rect(1px, 1px, 1px, 1px);
    color: rgb(54, 88, 153);
    display: block;
    height: 0.989583px;
    left: 209.271px;
    position: absolute;
    right: 985.295px;
    text-align: left;
    text-decoration: none solid rgb(54, 88, 153);
    top: 694.722px;
    white-space: nowrap;
    width: 0.989583px;
    column-rule-color: rgb(54, 88, 153);
    perspective-origin: 0.486111px 0.486111px;
    transform-origin: 0.486111px 0.486111px;
    caret-color: rgb(54, 88, 153);
    border: 0px none rgb(54, 88, 153);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(54, 88, 153) none 0px;
    overflow: hidden;
}/*#A_93*/

#A_95 {
    bottom: 52.3438px;
    clip: rect(1px, 1px, 1px, 1px);
    color: rgb(54, 88, 153);
    display: block;
    height: 0.989583px;
    left: 229.271px;
    position: absolute;
    right: 965.295px;
    text-align: left;
    text-decoration: none solid rgb(54, 88, 153);
    top: 694.722px;
    white-space: nowrap;
    width: 0.989583px;
    column-rule-color: rgb(54, 88, 153);
    perspective-origin: 0.486111px 0.486111px;
    transform-origin: 0.486111px 0.486111px;
    caret-color: rgb(54, 88, 153);
    border: 0px none rgb(54, 88, 153);
    font: normal normal 400 normal 12px / 19.2px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    list-style: none outside none;
    outline: rgb(54, 88, 153) none 0px;
    overflow: hidden;
}/*#A_95*/

#DIV_96 {
    color: rgb(115, 115, 115);
    height: 14.4444px;
    text-decoration: none solid rgb(115, 115, 115);
    width: 980px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 490px 7.22222px;
    transform-origin: 490px 7.22222px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 11px / 14.74px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    margin: 20px 0px;
    outline: rgb(115, 115, 115) none 0px;
}/*#DIV_96*/

#DIV_97 {
    color: rgb(115, 115, 115);
    height: 14.4444px;
    text-decoration: none solid rgb(115, 115, 115);
    width: 980px;
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 490px 7.22222px;
    transform-origin: 490px 7.22222px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 11px / 14.74px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    outline: rgb(115, 115, 115) none 0px;
}/*#DIV_97*/

#SPAN_98 {
    color: rgb(115, 115, 115);
    text-decoration: none solid rgb(115, 115, 115);
    column-rule-color: rgb(115, 115, 115);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(115, 115, 115);
    border: 0px none rgb(115, 115, 115);
    font: normal normal 400 normal 11px / 14.74px system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    outline: rgb(115, 115, 115) none 0px;
}/*#SPAN_98*/



